<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_activity">

    <application
        android:theme="@style/Theme.Test">
        <activity android:name=".ActivityTestA"/>
        <activity android:name=".ActivityTestC"/>
        <activity android:name=".ActivityTestB"
            android:launchMode="singleInstance"/>
    </application>
</manifest>